In [1]:
import numpy as np
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sk
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [3]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
df = pd.read_csv(url)

# Q1

In [4]:
df.head(5)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0

# Q2

In [14]:
df_name=df[df['location'].str.contains('Israel')]
df_name

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
11663,Israel,ISR,2020-12-19,60.0,60.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
11664,Israel,ISR,2020-12-20,7419.0,7419.0,NaN,7359.0,7359.0,0.09,0.09,NaN,850.0
11665,Israel,ISR,2020-12-21,32303.0,32303.0,NaN,24884.0,16122.0,0.37,0.37,NaN,1863.0
11666,Israel,ISR,2020-12-22,76915.0,76915.0,NaN,44612.0,25618.0,0.89,0.89,NaN,2960.0
11667,Israel,ISR,2020-12-23,139748.0,139748.0,NaN,62833.0,34922.0,1.61,1.61,NaN,4035.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11835,Israel,ISR,2021-06-09,10613376.0,5471766.0,5141610.0,4568.0,3349.0,122.62,63.22,59.40,387.0
11836,Israel,ISR,2021-06-10,10617667.0,5474941.0,5142726.0,4291.0,3565.0,122.67,63.25,59.42,412.0
11837,Israel,ISR,2021-06-11,10619306.0,5476180.0,5143126.0,1639.0,3590.0,122.69,63.27,59.42,415.0
11838,Israel,ISR,2021-06-12,10619532.0,5476317.0,5143215.0,226.0,3598.0,122.69,63.27,59.42,416.0
11839,Israel,ISR,2021-06-13,10623711.0,5479333.0,5144378.0,4179.0,3476.0,122.74,63.30,59.43,402.0

# Q3

In [21]:
print("the number of rows is:",df_name.shape[0])

the number of rows is: 177

# Q4

In [31]:
max_vacc = df_name.total_vaccinations.max()
max_vacc
max_vacc_date=df_name.loc[df_name.total_vaccinations == max_vacc]
max_vacc_date.date

11839    2021-06-13
Name: date, dtype: object

# Q5

In [35]:
df_name[['location','date','daily_vaccinations']].head(3)

      location        date  daily_vaccinations
11663   Israel  2020-12-19                 NaN
11664   Israel  2020-12-20              7359.0
11665   Israel  2020-12-21             16122.0

# Q6

In [59]:
print("The avarage of the number of the daily_vaccinations is:" , df_name.dropna()['daily_vaccinations'].mean())

The avarage of the number of the daily_vaccinations is: 60164.71428571428

# Q7

In [42]:
df_name.dropna()[['people_vaccinated_per_hundred','date']]

       people_vaccinated_per_hundred        date
11679                          16.57  2021-01-04
11680                          18.01  2021-01-05
11681                          19.20  2021-01-06
11682                          20.54  2021-01-07
11683                          21.31  2021-01-08
...                              ...         ...
11835                          63.22  2021-06-09
11836                          63.25  2021-06-10
11837                          63.27  2021-06-11
11838                          63.27  2021-06-12
11839                          63.30  2021-06-13

[161 rows x 2 columns]

# Q8

In [47]:
print("The averege of people vaccinated per hundred is:", df_name.dropna()['people_vaccinated_per_hundred'].mean())

The averege of people vaccinated per hundred is: 52.570559006211184

# Q9

In [56]:
print("The averege of people vaccinated per hundred is:", df_name.dropna()['daily_vaccinations'].mean())

The averege of people vaccinated per hundred is: 60164.71428571428

In [57]:
print("The mode of people vaccinated per hundred is:", df_name.dropna()['daily_vaccinations'].mode())

The mode of people vaccinated per hundred is: 0        2389.0
1        2403.0
2        2457.0
3        2627.0
4        2710.0
         ...
156    178245.0
157    180636.0
158    181649.0
159    184152.0
160    184946.0
Length: 161, dtype: float64

In [58]:
print("The median of people vaccinated per hundred is:", df_name.dropna()['daily_vaccinations'].median())

The median of people vaccinated per hundred is: 39158.0