Kobi Mazuz 206239568
Dolev Nahmias 207330176

In [2]:
import pandas as pd
import numpy as np

סעיף א' - לפתוח את קובץ החיסונים ולהציג את חמשת השורות הראשונות

In [3]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)
vacc_df[0:5]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0

In [ ]:
data_nan= data_name.loc[data_name.daily_vaccinations=='NaN']
data_nan

סעיף ב' - מציאת מדינה המתחילה באות הראשונה של השם של דולב - נבחרה המידה דנמרק

In [4]:
vacc_df[vacc_df['location'].str.contains('D')]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
1887,Denmark,DNK,2020-12-27,6435.0,6435.0,NaN,NaN,NaN,0.11,0.11,NaN,NaN
1888,Denmark,DNK,2020-12-28,8427.0,8427.0,NaN,1992.0,1992.0,0.15,0.15,NaN,344.0
1889,Denmark,DNK,2020-12-29,17312.0,17312.0,NaN,8885.0,5438.0,0.30,0.30,NaN,939.0
1890,Denmark,DNK,2020-12-30,28708.0,28708.0,NaN,11396.0,7424.0,0.50,0.50,NaN,1282.0
1891,Denmark,DNK,2020-12-31,34827.0,34827.0,NaN,6119.0,7098.0,0.60,0.60,NaN,1225.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2009,Dominican Republic,DOM,2021-03-11,606006.0,606006.0,NaN,58915.0,54041.0,5.59,5.59,NaN,4982.0
2010,Dominican Republic,DOM,2021-03-12,NaN,NaN,NaN,NaN,45681.0,NaN,NaN,NaN,4211.0
2011,Dominican Republic,DOM,2021-03-13,NaN,NaN,NaN,NaN,37891.0,NaN,NaN,NaN,3493.0
2012,Dominican Republic,DOM,2021-03-14,NaN,NaN,NaN,NaN,38586.0,NaN,NaN,NaN,3557.0
2013,Dominican Republic,DOM,2021-03-15,675000.0,675000.0,NaN,NaN,39280.0,6.22,6.22,NaN,3621.0

סעיף ג' - מציאת כמות הרשומות(שורות) עבור המדינה שנבחרה - דנמרק

In [4]:
Denmark = vacc_df.loc[(vacc_df.location == 'Denmark')]
len(Denmark)

80

In [11]:
Denmark = vacc_df.loc[(vacc_df.location == 'Denmark')]
den_nan= Denmark.loc[(Denmark.daily_vaccinations_raw=='NaN')]
Denmark[den_nan]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
2716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

סעיף ד' - מציאת התאריך שבו התחסנו הכי הרבה אנשים במדינה שבחרנו

In [6]:
max_daily_vacc = Denmark.daily_vaccinations.max()
max_index = Denmark.index[Denmark.daily_vaccinations == max_daily_vacc]
Denmark.at[max_index.values[0], 'date']

'2021-03-10'

סעיף ה' - הצגת שלושת השורות הראשונות של המדינה שבחרנו עם עמודות המדינה, התאריך ומספר המתחסנים היומי בלבד (גודל שלוש על שלוש)

In [6]:
first_three = Denmark.iloc[0:3]
first_three[['location' , 'date' , 'daily_vaccinations_raw']]

     location        date  daily_vaccinations_raw
1887  Denmark  2020-12-27                     NaN
1888  Denmark  2020-12-28                  1992.0
1889  Denmark  2020-12-29                  8885.0

סעיף ו' חלק 1 - שתי השורות האלו נועדו לוודא לי שני דברים - גם שיש רק ערך אחד חסר וגם שהוא הראשון. ז"א ברגע ש"אנקה" אותו אוכל לעבוד על הדאטה פריים

In [7]:
Denmark_vacc_daily = Denmark['daily_vaccinations']
Denmark_vacc_daily.isnull()
Denmark_vacc_daily.isnull().sum()

1

סעיף ו' חלק 2 - מספר המתחסנים הממוצע ליום במדינה שבחרנו החל מהיום בו החלו לחסן

In [9]:
Denmark_vacc_daily.dropna()
Denmark_vacc_daily.mean()

10642.397435897436

סעיף ז' - הצגת המדינה שבחרנו ללא ימים בהם אין ערכים עבור העמודה people_vaccinated_per_hundred

In [5]:
Denmark.dropna(subset=[,'people_vaccinated_per_hundred'])

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
1939,Denmark,DNK,2020-12-27,6429.0,6429.0,NaN,NaN,NaN,0.11,0.11,NaN,NaN
1940,Denmark,DNK,2020-12-28,8421.0,8421.0,NaN,1992.0,1992.0,0.15,0.15,NaN,344.0
1941,Denmark,DNK,2020-12-29,17305.0,17305.0,NaN,8884.0,5438.0,0.30,0.30,NaN,939.0
1942,Denmark,DNK,2020-12-30,28695.0,28695.0,NaN,11390.0,7422.0,0.50,0.50,NaN,1281.0
1943,Denmark,DNK,2020-12-31,34811.0,34811.0,NaN,6116.0,7096.0,0.60,0.60,NaN,1225.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2014,Denmark,DNK,2021-03-12,824115.0,580735.0,243380.0,14024.0,16463.0,14.23,10.03,4.20,2842.0
2015,Denmark,DNK,2021-03-13,834624.0,585269.0,249355.0,10509.0,15301.0,14.41,10.10,4.31,2642.0
2016,Denmark,DNK,2021-03-14,845276.0,586490.0,258786.0,10652.0,14476.0,14.59,10.13,4.47,2499.0
2017,Denmark,DNK,2021-03-15,858084.0,589337.0,268747.0,12808.0,14014.0,14.81,10.17,4.64,2419.0
2018,Denmark,DNK,2021-03-16,873894.0,595943.0,277951.0,15810.0,13677.0,15.09,10.29,4.80,2361.0

סעיף ח' - מספר האנשים הממוצע ל100 אנשים במידה שבחרנו (להוריד ימים בהם אין נתונים לפני החישוב)
מהסעיף הקודם רואים שאין שורות בהן אין ערך לעמודה people_vaccinated_per_hundred

In [10]:
import statistics
Denmark_people_vaccinated_per_hundred = Denmark['people_vaccinated_per_hundred']
statistics.harmonic_mean(Denmark_people_vaccinated_per_hundred)

1.6866472904039238

סעיף ט' - מה גדול יותר הממוצע או החציון של העמודה daily_vaccinations
מהנתונים הגיוני שהממוצע יהיה גדול יותר מאשר החציון בגלל שמספר המתחסנים גדל בצורה משמעותית והממוצע החשבוני מושפע מזה יותר מאשר החציון
נוכיח את הטענה :

In [11]:
print("the mean of daily_vaccination collum is " + str(Denmark['daily_vaccinations'].mean()))
print("the median of daily_vaccination collum is " + str(Denmark['daily_vaccinations'].median()))

the mean of daily_vaccination collum is 10642.397435897436
the median of daily_vaccination collum is 9569.5

רואים שהממוצע החשבוני גדול יותר מהחציון